################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/api/bin/Debug/netcoreapp3.1
/src/api/obj
/src/api/Properties
/src/controllers/bin/Debug/netcoreapp3.1
/src/controllers/obj
/src/data/bin/Debug
/src/data/obj
/src/entities/bin/Debug
/src/entities/obj
/src/model/bin/Debug/netcoreapp3.1
/src/model/obj
/test/data.test/obj
